{% load static %}
<!-- pour les liens vers elements static voir link-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
	<title>Pizza TEST - Acceuil</title>
</head>
<body>

    <main class="centered">
    <h1 id="main_title">PIZZA de chez TEST</h1>
    <img src="{% static 'main/images/main_logo.png' %}" alt="pizzeria TEST"></img>
    <a href="{% url 'menu:index' %}">Voir le menu</a>

    </main>

</body>
</html>